html, body{
  width:100%;
  overflow-x:hidden;
}

*{margin:0;padding:0;box-sizing:border-box;font-family:'Poppins',sans-serif}
body{color:#111; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
body.menu-open{
  overflow:hidden;
}

.container{max-width:1200px;margin:auto;padding:0 20px}
.header{position:fixed;top:0;left:0; width:100% ;z-index:999;transition: transform 0.35s ease, box-shadow 0.35s ease;}
.header.hide{
  transform: translateY(-100%);
}
.nav{display:flex;align-items:center; margin-left:50px; width: 100%;}
.nav-container{
  max-width:1200px;
  margin:auto;
  padding:0 20px;
  height:70px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.logo{
  margin-right:40px;
  font-size:1.4rem;
  font-weight:700;
  color:#5b3fdc;
  white-space:nowrap;
}


.nav-links{
  list-style:none;
  display:flex;
  align-items:center;
  gap:35px;       
  padding:0;
  margin:0;
}

.nav-links li{margin-left:20px}

.nav-links a{text-decoration:none;font-weight:500; color:#222; position: relative;}

.nav-links a::after{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #6c63ff;
  left: 0;
  bottom: -5px;
  transition: .3s;
}

.nav-links a:hover::after{
  width: 100%;
}

.menu-toggle{
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-toggle span{
  width: 25px;
  height: 3px;
  background: #333;
  transition: .3s;
}

.skills{
  padding:100px 8%;
  background:#f8f9fc;
  text-align:center;
}

.section-title{
  font-size:30px;
  font-weight:700;
  color:#5b3fdc;
  margin-bottom:50px;
}

.skills-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(180px,1fr));
  gap:30px;
  max-width:900px;
  margin:0 auto;
  perspective: 1000PX;
}

.skill-card{
  background:#ffffff;
  height: 170px;
  border-radius:22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  font-weight: 600;
  box-shadow: 0 14px 35px rgba(0,0,0,0.12);
  transition: 
    transform 0.25s ease,
    box-shadow 0.25s ease;
  transform-style: preserve-3d;
  cursor: pointer;  
}

.skill-card i{
    font-size: 36px;
    color: #2f80ed;
    transform: translateZ(30px);
}
.skill-card span{
    transform:translateZ(20px);
}
.skill-card:hover{
  transform:rotateX(12deg) rotateY(-12deg) scale(1.05);
}

.skill-card,
.card{
  will-change: transform;
}

/* PROFILE IMAGE */
.profile-wrapper{
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
}

.profile-border{
  width:260px;
  height:260px;
  border-radius:50%;
  padding:8px; /* border thickness */
  background:linear-gradient(135deg,#5b3fdc,#ffc83d,#ff8db3);
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow:
    0 25px 60px rgba(91,63,220,0.35);
}


.profile-border img{
  width:100%;
  height:100%;
  border-radius:50%;
  object-fit:cover;
  background:#fff;
}

.profile-wrapper::before{
  content:'';
  position:absolute;
  inset:-45px;
  background:radial-gradient(
    circle,
    rgba(98,70,234,.35),
    rgba(98,70,234,.15),
    transparent 70%
  );
  filter:blur(18px);
  z-index:-1;
}



/* FLOATING ANIMATION */
.float{
  animation:float 6s ease-in-out infinite;
}
.float-delay{
  animation-delay:1.5s;
}
.float-delay2{
  animation-delay:3s;
}

@keyframes float{
  0%,100%{ transform: translateY(0); }
  50%{ transform: translateY(-12px); }
}

.hero{min-height:100vh;background:#f3ecff;;display:flex;align-items:center;padding-top:70px; overflow: hidden;}
.hero-grid{display:grid;grid-template-columns:1.1fr 0.9fr;align-items:center;gap:40px; width: 100%;}
.hero-text h1{font-size:46px;margin:10px 0}
.hero-text span{color:#5b3fdc}
.section h2{letter-spacing:.5px;} 
.tag{color:#5b3fdc;font-weight:600}
.btn{display:inline-block;margin-top:20px;padding:12px 30px;background:#5b3fdc;color:#fff; box-shadow:0 10px 25px rgba(91,63,220,.35); border-radius:30px;text-decoration:none;}
.btn:focus-visible{
  outline:3px solid rgba(91,63,220,.4);
  outline-offset:4px;
}
.hero-visual{position: relative; width:100%; max-width: 520px; height:auto; margin:0 auto; display:flex;justify-content:center;}
.hero-cards{position:absolute; bottom:40px; display:flex; gap:30px; z-index:1;}
.card{
  position:absolute;
  width:170px;
  height:170px;
  border-radius:26px;
  background:linear-gradient(145deg,#ffffff,#dcdcdc);
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
  transform-style:preserve-3d;
  animation:float 6s ease-in-out infinite;
}
.card::after{
  content:"";
  position:absolute;
  inset:0;
  border-radius:inherit;
  background:linear-gradient(
    145deg,
    rgba(255,255,255,0.15),
    rgba(0,0,0,0.15)
  );
  transform:translateZ(-1px);
  pointer-events:none;
}

.card-wrapper{
  position: relative;
  width:100%;
  max-width:460px;
  aspect-ratio:1/1;
  height:auto;
  margin:0 auto;
}
.card-layer{
  position: relative;
  width: 100%;
  height: 100%;
}
.card-1{
  top:0px;
  left:40px;
  background:#c4ddfc;
}

.card-2{
  top:110px;
  left:0px;
  background:#d6f7f8;
  animation-delay:1.5s;
}

.card-3{
  top:190px;
  left:80px;
  background:#ecacac;
  animation-delay:3s;
}

.card-4{
  top:80px;
  left:120px;
  background:#d8b9f5;
  animation-delay:4.5s;
}
.section{padding:80px 0}
.section h2{font-size: 30px;text-align:center;margin-bottom:30px;color:#5b3fdc}

/* PROJECT FILTER */
.filters{
  text-align:center;
  margin-bottom:30px;
}

.filter-btn{
  padding:8px 18px;
  margin:0 6px;
  border:none;
  border-radius:20px;
  background:#eee;
  cursor:pointer;
  transition:.3s;
}

.filter-btn.active,
.filter-btn:hover{
  background:#5b3fdc;
  color:#fff;
}

/* PROJECT ANIMATION */
.project-item{
  transition:all .4s ease;
}

.project-hide{
  opacity:0;
  transform:scale(.85);
  pointer-events:none;
}

.project-show{
  opacity:1;
  transform:scale(1);
}

.center{text-align:center;max-width:700px;margin:auto}
.light{background:#f9f9f9}
.grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(220px,1fr));gap:20px}
.service{background:#fff;padding:25px;border-radius:14px;text-align:center;box-shadow:0 6px 16px rgba(0,0,0,.08)}
.contact-form{max-width:500px;margin:auto;display:flex;flex-direction:column;gap:15px}
.contact-form input,.contact-form textarea{padding:12px;border-radius:8px;border:1px solid #ccc}


@media (max-width:1024px){

 .nav-container{
    padding:0 18px;
  }

  .logo{
    font-size:1.3rem;
  }

  .hero{
    padding-top:90px;
  }

  .hero-grid{
    grid-template-columns:1fr;
    text-align:center;
  }

  .hero-text h1{
    font-size:38px;
  }

  .hero-text p{
    max-width:600px;
    margin:auto;
  }

  .hero-visual{
    margin-top:40px;
    height:auto;
  }

  .profile-border{
    width:220px;
    height:220px;
  }

  .card-wrapper{
    transform:scale(0.85);
    transform-origin:top center;
  }
}

@media (max-width:900px){
  .menu-toggle{
    display:flex;
  }

  .header{
    height:70px;
  }

  .nav{
    position:fixed;
    top:70px;
    left:0;
    width:100%;
    flex-direction:column;
    background:#fff;
    transform:translateY(-150%);
    transition:transform .35s ease;
    box-shadow:0 20px 40px rgba(0,0,0,.12);
    z-index:999;
  }

  .nav.active{
    transform:translateY(0);
  }

  /* stack links vertically */
  .nav-links{
    flex-direction:column;
    gap:22px;
  }

  .nav-links li{
    margin:0;
  }

  .nav-links a{
    font-size:18px;
  }
}


@media (max-width:600px){


  .nav-links{
    padding:20px 0;
  }

  .nav-links a{
    font-size:16px;
  }


  .hero{
    padding:90px 0 40px;
  }

  .hero-grid{
    grid-template-columns:1fr;
  }

  .hero-text{
    padding:0 10px;
  }

  .hero-text h1{
    font-size:30px;
    line-height:1.2;
  }

  .hero-visual{
    width:100%;
    max-width:100%;
  }

  .tag{
    font-size:14px;
  }

  .hero-text p{
    font-size:15px;
  }

  .btn{
    padding:10px 24px;
    font-size:14px;
  }

  .hero-visual{
    gap:30px;
    max-width:100%;
  }

  .profile-border{
    width:160px;
    height:160px;
  }

  .card-wrapper{
    transform:scale(.6);
    transform-origin:top center;
  }

}

@media (max-width:400px){

  .logo{
    font-size:1.1rem;
  }
  
  .nav-links a{
    font-size:15px;
  }


  .hero-text h1{
    font-size:26px;
  }

  .hero-text p{
    font-size:14px;
  }

  .btn{
    padding:10px 22px;
    font-size:14px;
  }

  .profile-border{
    width:150px;
    height:150px;
  }

  .card-wrapper{
    transform:scale(.52);
  }
}


@media (hover: none) and (pointer: coarse){
  .card,
  .skill-card{
    transform:none !important;
  }
}


